<a href="https://colab.research.google.com/github/Edgarmartins16/projeto-bd-colab/blob/main/Projeto_BD_SQLite_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PROJETO-BD-SQLITE
### Criação e Manipulação de Banco de Dados com SQLite no Google Colab

In [12]:
# Seção 1: Importar bibliotecas e conectar ao banco
import sqlite3

conn = sqlite3.connect(':memory:')  # ou use 'projeto.db' para salvar em arquivo
cursor = conn.cursor()

# Habilitar uso de chaves estrangeiras
cursor.execute("PRAGMA foreign_keys = ON;")

In [ ]:
# Seção 2: Criação das tabelas
cursor.execute('''
    CREATE TABLE IF NOT EXISTS pessoas (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nome TEXT NOT NULL,
        idade INTEGER
    );
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS produtos (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        descricao TEXT NOT NULL,
        estoque INTEGER,
        preco REAL
    );
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS vendas (
        id_venda INTEGER PRIMARY KEY AUTOINCREMENT,
        id_pessoa INTEGER,
        id_produto INTEGER,
        quantidade INTEGER,
        FOREIGN KEY (id_pessoa) REFERENCES pessoas(id),
        FOREIGN KEY (id_produto) REFERENCES produtos(id)
    );
''')

conn.commit()

In [ ]:
# Seção 3: Inserção de dados
cursor.executemany("INSERT INTO pessoas (nome, idade) VALUES (?, ?);", [
    ('Maria', 30),
    ('João', 25),
    ('Ana', 40)
])

cursor.executemany("INSERT INTO produtos (descricao, estoque, preco) VALUES (?, ?, ?);", [
    ('Caneta', 100, 1.50),
    ('Caderno', 50, 6.50),
    ('Lápis', 200, 0.80)
])

conn.commit()

In [ ]:
# Seção 4: Inserir vendas e consultar
cursor.executemany("INSERT INTO vendas (id_pessoa, id_produto, quantidade) VALUES (?, ?, ?);", [
    (1, 1, 10),  # Maria comprou 10 canetas
    (2, 2, 2),   # João comprou 2 cadernos
    (1, 3, 5)    # Maria comprou 5 lápis
])

conn.commit()

# Consulta JOIN
cursor.execute('''
    SELECT v.id_venda, p.nome, pr.descricao, v.quantidade
    FROM vendas v
    JOIN pessoas p ON v.id_pessoa = p.id
    JOIN produtos pr ON v.id_produto = pr.id;
''')

resultados = cursor.fetchall()

print("Relatório de Vendas:")
for linha in resultados:
    print(f"Venda {linha[0]}: {linha[1]} comprou {linha[3]} x {linha[2]}")

Relatório de Vendas:
Venda 1: Maria comprou 10 x Caneta
Venda 2: João comprou 2 x Caderno
Venda 3: Maria comprou 5 x Lápis

In [ ]:
# Seção 5: Fechar conexão
conn.close()